{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "singleQuote": false
            }
        }
    ],
    "printWidth": 100
}