<h2>Arena - walka</h2>
{{#if warrior1}}

    {{#each warrior1}}
        {{this.name}}
    {{/each}}
{{/if}} walczy z
{{#if warrior2}}

    {{#each warrior2}}
        {{this.name}}
    {{/each}}
{{/if}}


{{#if log}}
<div class="fight_log"
    {{#each log}}
        <p class="fight_log_message">{{this.id}} {{this.message}}</p>
    {{/each}}
    </div>
{{/if}}

{{#unless warrior1}}
{{>error}}
{{>go-add-warrior}}
{{/unless}}

{{>go-home}}