<h2>Arena</h2>
{{#if warriors}}
<form method="get" action="/arena/fight">
<select name="warrior1" id="warrior1">
    {{#each warriors}}
        <option value={{this.name}}>{{this.name}}</option>
    {{/each}}
</select>
<select name="warrior2" id="warrior2">
    {{#each warriors}}
        <option value={{this.name}}>{{this.name}}</option>
    {{/each}}
</select>
<button type="submit">Walcz!</button>
</form>
{{/if}}

{{#unless warriors}}
{{>error}}
{{>go-add-warrior}}
{{/unless}}

{{>go-home}}